@import "libs/_elements";
@import "libs/_blank";
@import "libs/_fsize";


/*
================================================================================
|                                     reset                                     |
================================================================================
*/

@import "libs/_reset";


/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/

@import "libs/_fonts";


/*
================================================================================
|                                     Start rools                              |
================================================================================
*/

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

section,
header {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

.content {
    padding: 60px;
}

@import "content/navigation";
@import "content/phones_navigation";
@import "content/write_us";
@import "content/phones";
