@import "libs/_elements";
@import "libs/_blank";
@import "libs/_fsize";


/*
================================================================================
|                                     reset                                     |
================================================================================
*/

@import "libs/_reset";


/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/

@import "libs/_fonts";


/*
================================================================================
|                                     Start rools                              |
================================================================================
*/

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

section,
header {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

html,
body,
.content-wrapper {
    height: 100%;
}

.content {
    padding: 60px;
}

.container {
    max-width: 1024px;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.body {
    
    &.active{
      overflow: hidden;  
    }
}

// .global-hide {
//     transition: all .17s ease-in;
//     transform: scale(.8);
//     opacity: 0;
// }

// .global-show {
//     transform: scale(1);
//     opacity: 1;
// }

.br768,
.br320 {
    display: none;
}


.r-animate {
    &.ng-animate {
        transition: all ease 0.2s;
        position: absolute;
    }
    &.ng-enter,
    &.ng-leave {
        left: 0;
        right: 0;
        transition: all .3s ease-in-out;
    }
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}
.r-animate-to-left {
    &.ng-animate {
        transition: all ease 0.2s;
        position: absolute;

    }
    &.ng-enter,
    &.ng-leave {
        width: 100%;
        height: 100%;
        transition: all .7s ease;
    }
    &.ng-enter {
        opacity: 0;
        transform: translateX(70px);
    }
    &.ng-enter-active {
        opacity: 1;
        transform: translateX(0);
    }
    &.ng-leave {
        opacity: 1;
        transform: translateX(0);
    }
    &.ng-leave-active {
        opacity: 0;
        transform: translateX(-70px);
    }
}

.r-animate-to-right {
    &.ng-animate {
        transition: all ease 0.2s;
        position: absolute;

    }

    &.ng-enter,
    &.ng-leave {
        width: 100%;
        height: 100%;
        transition: all .7s ease;
    }
    &.ng-enter {
        opacity: 0;
        transform: translateX(-70px);
    }
    &.ng-enter-active {
        opacity: 1;
        transform: translateX(0);
    }
    &.ng-leave {
        opacity: 1;
        transform: translateX(0);
    }
    &.ng-leave-active {
        opacity: 0;
        transform: translateX(70px);
    }
}
.slide-in-left-out-right,
.slide-in-right-out-left{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-in-left-out-right.ng-hide-add-active,
.slide-in-left-out-right.ng-leave,
.back .slide-in-right-out-left.ng-hide-add-active,
.back .slide-in-right-out-left.ng-leave {
  animation: slideOutRight 0.2s ease;
}

.slide-in-left-out-right.ng-hide-remove-active,
.slide-in-left-out-right.ng-enter,
.back .slide-in-right-out-left.ng-hide-remove-active,
.back .slide-in-right-out-left.ng-enter {
  animation: slideInLeft 0.2s ease;
}

.slide-in-right-out-left.ng-hide-add-active,
.slide-in-right-out-left.ng-leave,
.back .slide-in-left-out-right.ng-hide-add-active,
.back .slide-in-left-out-right.ng-leave {
  animation: slideOutLeft 0.2s ease;
}

.slide-in-right-out-left.ng-hide-remove-active,
.slide-in-right-out-left.ng-enter,
.back .slide-in-left-out-right.ng-hide-remove-active,
.back .slide-in-left-out-right.ng-enter {
  animation: slideInRight 0.2s ease;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px);
  }
}



@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(70px);
  }
}



@keyframes slideInRight {
  0% {
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes slideInLeft {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loddingSvg {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -50px;
  width: 500px;
  height: 100px;
  z-index: 9999;
  transition: all .15s ease-in-out;

  img {
    width: 500px;
    height: 100px;
    fill: #021e34;
  }
}





// HEADER SECTION
@import "content/navigation";
@import "content/phones_navigation";
@import "content/write_us";
@media screen and (max-width: 1024px) and (min-width: 769px) {
    section,
    nav {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    .container {
        max-width: 100%;
    }
    .content {
        // padding-bottom: 92px;
    }
    .br1024,
    .br320 {
        display: none;
    }
    .br768 {
        display: block;
    }
    %sprite-2-1 {
        display: block;
        content: '';
        margin: 0 auto;
        background: url(../img/sprite-2-1.png);
        background-size: 247px 204px;
        background-repeat: no-repeat;
    } // HEADER SECTION 
}

@media screen and (max-width: 768px) {
    section,
    nav {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    .container {
        min-width: 320px;
        padding: 0 5.15%;
    }
    .content {
        padding-bottom: 169px;
    }
    .br1024,
    .br768,
    .br768-1024 {
        display: none;
    }
    .br320 {
        display: block;
    }
    %sprite-2-1-m {
        display: block;
        content: '';
        margin: 0 auto;
        background: url(../img/sprite-2-1.png);
        background-size: 247px 204px;
        background-repeat: no-repeat;
    } // HEADER SECTION   
}

@media screen and (max-width: 768px) and (min-width: 550px) {
    .works-s1 {
        .works-item {
            max-height: 205px;
            width: 50%;
            .work-name-wrap {
                &:after {
                    height: 205px;
                }
            }
            .works-item-tint {
                &:after {
                    height: 205px;
                }
            }
        }
    }
}