.feedback {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin-bottom: 25px;
  }
  input {
    text-align: center;
    display: block;
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;
    color: #7A7A7A;
    font-size: 1.2rem;
    line-height: 1.6;
    height: 30px;
  }
  textarea {
    text-align: center;
    display: block;
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;
    color: #7A7A7A;
    font-size: 1.2rem;
    line-height: 1.6;
    height: 30px;
    resize: none;
    overflow: hidden;
  }
  button {
    padding: 10px;
    margin: 0 auto;
    line-height: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #828282;
    font-weight: 600;
  }
}