.navigation {
  padding: 20px 50px 10px;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px;
    color: #828282;
    width: 150px;

    a {
      position: relative;
      padding: 0 10px;
      line-height: 30px;
      font-size: 1.2rem;
      text-transform: uppercase;
      transition: all .3s ease;

      &:hover {
        color: #24B374;
      }
      &.active {
        color: #24B374;

        &:after {
          display: block;
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 13px;
          height: 7px;
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAACXBIWXMAAAsSAAALEgHS3X78AAAAj0lEQVQY04XOvRGCQBAG0IcVWIKB5JRgARdQgiUQSE5+CSVYAjNSgCWQX2IJdHAmjnP+zPCFu/N2v+p4u7RYU4h3G6nnfo/zDntM9dx3G+CEB5oq56ye+wYTFpxTiOsX6DCgSyFeq5xz+fqKwwsuxaxBm0Jc4I2KqwM6jGhflT6+/6Ci/4QxhTh87/+irTwBcO870Q0h17sAAAAASUVORK5CYII=') no-repeat;
        }
      }
    }
  }
}