.navigation {
  background: #5E4A4A;
  padding: 20px 50px 10px;
  li {
    display: inline-block;
    margin: 0 10px;
    color: #ffffff;

    a {
      padding: 0 10px;
      line-height: 30px;
      font-size: 1.5rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}