.phones-mark-h {
  color: red;
}

.phones-mark {
  background: #D3D0D0;
  padding: 5px 50px 5px;
  li {
    display: block;
    margin: 0 10px;
    color: #000000;
    a {
      padding: 0 10px;
      line-height: 30px;
      font-size: 1.2rem;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}