.phones-navigation {
  background: #D3D0D0;
  padding: 5px 50px 5px;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px;
    color: #000000;

    a {
      padding: 0 10px;
      line-height: 30px;
      font-size: 1.2rem;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}