.phones-mark-h {
  color: #F77171;
  text-align: center;
  margin-bottom: 20px;
}

.phones-mark {
  padding: 5px 50px 5px;
  text-align: center;
  li {
    display: block;
    margin: 0 10px;
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 15px;
    span {
      margin-left: 5px;
    }
    .price {
      margin-left: 25px;
    }

  }
}