.write-us {
  h1 {
    margin-bottom: 25px;
  }
  input {
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #7A7A7A;
    color: #7A7A7A;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  textarea {
    display: block;
    margin-bottom: 15px;
    border: 1px solid #7A7A7A;
    color: #7A7A7A;
    font-size: 1.2rem;
    line-height: 1.2;
    height: 70px;
  }
  button {
    padding: 10px;
    line-height: 15px;
    border: 1px solid #7A7A7A;
  }
}