.clients-s2 {
  background-color: $white-d;
  .container {
    padding: 0;
  }
  .clients-item {
    width: 20%;
    float: left;
    padding: 0;
    min-height: 205px;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      width: 0.01%;
      height: 205px;
      vertical-align: middle;
      visibility: hidden;
      opacity: 0;
    }
    img {
      display: inline-block;
      max-width: 66%;
      max-height: 110px;
      vertical-align: middle;
    }
  }
  $c: #647380;
  @for $i from 1 through 12 {
    .clients-item-#{$i} {
      $fc: lighten( $c, 4%*$i);
      background-color: $fc;
    }
  }
}

@mixin media_768_clients_s2 {
  .clients-s2 {
    .clients-item {
      width: 25%;
      min-height: 192px;
    }
  }
}

@mixin media_320_clients_s2 {
  .clients-s2 {
    .clients-item {
      width: 50%;
      min-height: 160px;
    }
  }
}
