.contacts-s1 {
  .container {
    padding: 0;
    max-width: none;
  }
  #map {
    width: 100%;
    height: 377px;
  }
}

@mixin media_320_contacts_s1 {
  .contacts-s1 {
    .container {
      padding: 0;
      max-width: none;
    }
    #map {
      width: 100%;
      height: 244px;
    }
  }
}
