.capabilities-s1 {
  background-color: $grey-d2;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 335px;
  }
  .big-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 290px;
    height: 335px;
    .img-mob {
      display: none;
    }
  }
  .big-img-sign {
    text-align: left;
    margin: 78px 0 0 11.6%;
    .sign-h1-block {
      display: inline-block;
      position: relative;
      text-align: right;
      vertical-align: top;
      margin-right: 3%;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -13px;
        width: 35px;
        height: 1px;
        background-color: $white-l;
      }
      h1 {
        @extend %px18;
        line-height: 22px;
        letter-spacing: 0.45px;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .sign-txt-block {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin-right: 2%;
      p {
        @extend %px13;
        color: $white-l;
        line-height: 21px;
        letter-spacing: 0.33px;
      }
    }
  }
}

@mixin media_768_capabilities_s1 {
  .capabilities-s1 {
    .container {
      padding: 60px 4.16%;
      min-height: 286px;
    }
    .big-img {
      width: 248px;
      height: 286px;
    }
    .big-img-sign {
      margin: 45px 0 0 0;
      .sign-h1-block {
        margin-right: 16px;
      }
    }
  }
}

@mixin media_320_capabilities_s1 {
  .capabilities-s1 {
    min-height: 275px;
    .container {
      padding-top: 0;
      padding-bottom: 60px;
      min-height: 275px;
      text-align: center;
    }
    .big-img {
      display: block;
      top: auto;
      bottom: 0;
      max-width: 460px;
      min-width: 310px;
      width: 95%;
      height: auto;
      .img-desc {
        display: none;
      }
      .img-mob {
        display: block;
      }
    }
    .big-img-sign {
      text-align: center;
      float: none;
      width: 100%;
      margin: 42px 0 0 0;
      .sign-h1-block {
        margin-bottom: 6px;
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      .sign-txt-block {
        display: block;
        max-width: 495px;
        margin: 0 auto;
        text-align: center;
        p {
          line-height: 19px;
        }
      }
    }
  }
}
